<div class="input-group">
    <span class="input-group-btn">
        <!-- entre [] para indicar que es el valor literal que esté en esa propiedad de la clase -->
        <button [ngClass]="btnClass" (click)="cambiarValor(-5)" type="button">
            <i class="fa fa-minus"></i>
        </button>
    </span>

    <!-- [()] indicar que esto recibe y emite valores -->
    <input
        type="number"
        class="form-control"
        [ngClass]="{'is-invalid': progreso > 100 || progreso < 0}"
        placeholder="Progreso"
        min="0"
        max="100"
        (ngModelChange)="onChange($event)"
        [(ngModel)]="progreso"
    >

    <span class="input-group-btn">
        <button [ngClass]="btnClass" (click)="cambiarValor(5)" type="button">
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>